# Server
PORT=3000

# Auth
JWT_SECRET=your_secret_here

# Database (PostgreSQL)
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432

# Databases
DB_NAME=database_name
DB_NAME_TEST=database_name_test
DB_NAME_PROD=database_name_prod