PORT=4000
MONGO_URI=mongodb://localhost:27017/eventhub

ACCESS_TOKEN_SECRET="your_access_token_secret_key"
ACCESS_TOKEN_TTL=15m

REFRESH_TOKEN_TTL_DAYS=7

BCRYPT_SALT_ROUNDS=12

REDIS_URL=redis://localhost:6379